@import 'clear-styles';
@import 'container';
@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.header {
    padding-top: 26px;
    padding-bottom: 130px;
    background: url('/image/header__cover.jpg') no-repeat center;


    @include sm {
        background: url('/image/header__cover-sm.png') no-repeat center;
        background-size: cover;
        height: 855px; 
    }

    &__logo {
        img {
            width: 245px;
            height: 36px;
        }
    }

    &__info {
        width: 100%;
        max-width: 542px;

        @include sm {
            max-width: unset;
            // height: 750px;
        }
    }

    &__title {
        padding-top: 62px;
        // font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        // text-transform: uppercase;
        color: #313131;

        @include sm {
            max-width: 335px;
            padding-top: 40px;
            font-size: 36px;
        }

    }

    .title-position-one {
        padding-left: 91px;

        @include sm {
            padding-left: 62px;
        }
    }

    .title-position-two {
        padding-left: 33px;

        @include sm {
            padding-left: 30px;
        }
    }

    &__description {
        padding-top: 24px;
        text-align: center;
        // font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: #313131;

        @include sm {
            text-align: left;
        }
    }

    &__buttons-block {
        display: flex;
        gap: 16px;
        padding-top: 40px;

        @include sm {
            display: flex;
            flex-direction: column;
        }
    }

    &__button {
        width: 100%;
    }

    &__button-black {
        padding: 13px 20px;
        background: #1F1F1F;
        border-radius: 66px;
        border: 2px solid #1F1F1F;

        color: #FFF;
        text-align: center;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

    &__button-opacity {
        padding: 13px 20px;
        border-radius: 66px;
        border: 2px solid #1F1F1F;

        color: #1F1F1F;
        text-align: center;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

    &__br {
        @include sm {
            display: none;
        }
    }
}

.lecture {
    padding-top: 80px;

    @include sm {
        display: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__text {
        width: 100%;
        max-width: 764px;

        color: #313131;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        text-transform: uppercase;
    }

    &__img {
        img {
            width: 394px;
            height: 250px;
            flex-shrink: 0;
        }
    }
}

.lecture-mob {
    display: none;

    @include sm {
        display: block;
    }

    padding-top: 48px;

    &__info {}

    &__text {
        font-family: Merriweather;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        color: #313131;
    }

    &__img {
        padding-top: 24px;
        padding-bottom: 24px;
    }

}

.info-red {
    font-weight: 700;
    color: #F54932;
}

.session {
    padding-top: 64px;

    &__block {
        display: flex;
        gap: 44px;
    }

    &__img {
        img {
            width: 454px;
            height: 527px;
        }
    }

    &__info {
        // width: 100%;
        // max-width: 704px;
    }

    &__text {
        // width: 100%;
        // max-width: 704px;
        padding-bottom: 60px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        text-transform: uppercase;
        color: #313131;
    }

    table {
        width: 100%;
        max-width: 704px;
        border-collapse: collapse;
        /* Убираем двойные линии между ячейками */
        border: 2px solid white;
        /* Прячем рамку вокруг таблицы */
    }

    td {
        padding: 16px;
        /* Поля вокруг содержимого таблицы */
        border: 1px solid #D0D0D0;
        /* Параметры рамки */
        text-align: left;
        /* Выравнивание по левому краю */
    }

    &__table-grey {
        padding-left: 0px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.7;
    }

    &__table-black {
        color: #313131;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        padding-left: 16px;
        padding-bottom: 16px;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    .info-blue {
        color: #3057A2;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}

// ////////////////////////////////////////////////////

.stages {
    padding-top: 200px;

    &__title {
        width: 100%;
        max-width: 806px;
    }

    &__title-text {
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
    }

    &__description {
        display: inline-block;

        color: #3057A2;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}

.participants {
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
        width: 100%;
        max-width: 806px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        padding-top: 60px;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__img {}

    &__name {
        padding-top: 28px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: #313131;
    }

    &__rank {
        padding-top: 6px;
        padding-bottom: 20px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.6;
    }

    &__button {
        padding: 12px;
        border-radius: 62px;
        border: 1px solid #3057A2;
    }

    &__button-blue {
        color: #3057A2;
        leading-trim: both;
        text-edge: cap;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

}


.footer {
    background-color: #E9DED4;


    &__text {
        padding: 40px 0 72px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.6;
    }
}