@import 'clear-styles';
@import 'container';
@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.header {
    padding-top: 26px;
    padding-bottom: 130px;
    background: url('/image/header__cover.jpg') no-repeat center;


    @include sm {
        background: url('/image/header__cover-sm.png') no-repeat center;
        background-size: cover;
        height: 750px;
        // height: 855px;
    }

    &__logo {
        img {
            width: 245px;
            height: 36px;
        }
    }

    &__info {
        width: 100%;
        max-width: 542px;

        @include sm {
            max-width: unset;
            // height: 750px;
        }
    }

    &__title {
        padding-top: 62px;
        // font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        // text-transform: uppercase;
        color: #313131;
        // color: $primary-color;

        @include sm {
            max-width: 335px;
            padding-top: 40px;
            font-size: 36px;
        }

    }

    .title-position-one {
        padding-left: 91px;

        @include sm {
            padding-left: 62px;
        }
    }

    .title-position-two {
        padding-left: 33px;

        @include sm {
            padding-left: 30px;
        }
    }

    &__description {
        padding-top: 24px;
        text-align: center;
        // font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: #313131;

        @include sm {
            text-align: left;
        }
    }

    &__buttons-block {
        display: flex;
        gap: 16px;
        padding-top: 40px;

        @include sm {
            display: flex;
            flex-direction: column;
        }
    }

    &__button {
        width: 100%;
    }

    &__button-black {
        padding: 13px 20px;
        background: #1F1F1F;
        border-radius: 66px;
        border: 2px solid #1F1F1F;

        color: #FFF;
        text-align: center;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;


        &:hover {
            color: #1F1F1F;
            background: #FBCE51;
            border: 2px solid #FBCE51;
        }
    }

    &__button-opacity {
        padding: 13px 20px;
        border-radius: 66px;
        border: 2px solid #1F1F1F;

        color: #1F1F1F;
        text-align: center;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;

        @include md {
            background: rgb(255 255 255 / 90%);
            border: 2px solid #FFFFFF;
        }

        &:hover {
            background: #1F1F1F;
            border: 2px solid #1F1F1F;
            color: #FFF;
        }

    }

    &__br {
        @include sm {
            display: none;
        }
    }
}

.lecture {
    overflow: hidden;
    padding-top: 80px;

    @include sm {
        display: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__text {
        width: 100%;
        max-width: 764px;

        color: #313131;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        text-transform: uppercase;
    }

    &__img {
        img {
            width: 394px;
            height: 250px;
            flex-shrink: 0;
        }
    }
}

.lecture-mob {
    display: none;

    @include sm {
        display: block;
    }

    padding-top: 48px;

    &__info {}

    &__text {
        font-family: Merriweather;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        color: #313131;
    }

    &__img {
        padding-top: 24px;
        padding-bottom: 24px;
    }

}

.info-red {
    font-weight: 700;
    color: #F54932;
}

.session {
    padding-top: 64px;

    @include sm {
        display: none;
    }

    &__block {
        display: flex;
        gap: 44px;
    }

    &__img {
        img {
            width: auto;
            max-width: 454px;
            height: auto;

            @include md {
                width: auto;
                max-width: 30vw;
                height: auto;
            }
        }
    }

    &__info {
        // width: 100%;
        // max-width: 704px;
    }

    &__text {
        // width: 100%;
        // max-width: 704px;
        padding-bottom: 60px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        text-transform: uppercase;
        color: #313131;
    }

    table {
        width: 100%;
        max-width: 704px;
        border-collapse: collapse;
        /* Убираем двойные линии между ячейками */
        border: 2px solid white;
        /* Прячем рамку вокруг таблицы */
    }

    td {
        /* Поля вокруг содержимого таблицы */
        border: 1px solid #D0D0D0;
        /* Параметры рамки */
        text-align: left;
        /* Выравнивание по левому краю */
    }

    &__table-grey {
        width: 306px;

        padding: 16px 16px 16px 0;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.7;
    }

    &__table-black {
        color: #313131;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        padding: 16px;
    }

    &__table-first {
        padding-top: 0;
    }

    &__table-last {
        padding-bottom: 0;
    }

    .info-blue {
        padding-top: 48px;

        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #3057A2;
    }
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: #F54932;
}

.session-mob {
    display: none;

    @include sm {
        display: block;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__text {
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        color: #313131;
    }


    table {
        width: 100%;
        max-width: 336px;
        border-collapse: collapse;
        /* Убираем двойные линии между ячейками */
        border: 3px solid white;
        /* Прячем рамку вокруг таблицы */
    }

    td {
        padding-top: 16px;
        padding-bottom: 16px;
        border: 2px solid #D0D0D0;
        /* Параметры рамки */
        text-align: left;
        /* Выравнивание по левому краю */
    }

    &__table-grey {
        padding-bottom: 12px;

        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.7;
    }

    &__table-black {
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: #313131;
    }

    &__table-first {
        padding-top: 0;
    }

    &__table-last {
        padding-bottom: 0;
    }

}

.stages {
    overflow: hidden;
    padding-top: 200px;

    @include sm {
        display: none;
    }

    &__title {
        width: 100%;
        max-width: 806px;
    }

    &__title-text {
        padding-bottom: 54px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
    }

    &__description {
        display: inline-block;

        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #3057A2;
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 36px;
        height: 36px;
        border-radius: 60px;
        background: #FFF;

        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: #313131;
    }

    &__desc {
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        color: #313131;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        grid-template-areas:
            'a b c'
            'd e c'
            'f g g';
        
        @include md {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
            'a b'
            'c d'
            'e f'
            'g g';
        }
    }

    &__item {
        display: flex;
        gap: 16px;
        padding: 20px;
        // background: url(<path-to-image>) lightgray -234.21px -402.269px / 121.971% 265.886% no-repeat;
        background: url('/image/stages_back.jpg');
    }

    &__item-1 {
        grid-area: a;
    }

    &__item-2 {
        grid-area: b;
    }

    &__item-3 {
        grid-area: c;
    }

    &__item-4 {
        grid-area: d;
    }

    &__item-5 {
        grid-area: e;
    }

    &__item-6 {
        grid-area: f;
    }

    &__item-7 {
        grid-area: g;
        z-index: 1;
        position: relative;

        p {
            z-index: 3;
            width: 446 / 803 * 100%;
            // max-width: 446px;
        }
    }

    &__image {
        z-index: 2;
        position: absolute;
        bottom: 0;
        right: -70px;

        @include md {
            right: -120px;
        }

        img {}
    }
}

.stages-mob {
    display: none;

    @include sm {
        display: block;
        padding-top: 120px;
    }

    h2 {
        font-family: Merriweather;
        font-weight: 400;
        font-size: 36px;
        line-height: 39px;
        color: rgba(49, 49, 49, 1);
    }

    &__subtitle {
        padding-top: 12px;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #3057A2;
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 36px;
        height: 36px;
        border-radius: 60px;
        background: #FFF;

        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: #313131;
    }

    &__text {
        font-family: "Golos Text";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        color: #313131;
    }

    &__card {
        display: flex;
        gap: 16px;
    }

    &__image {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-right: 0;
        margin-left: 0;
        text-align: center;

        img {
            max-width: 335px;
        }
    }

    .swiper {
        overflow: unset;
        width: 100%;
        padding-top: 148px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 62px 24px 34px;
        height: auto;
        // background: rgba(217, 217, 217, 1);
        background: url('/image/stages_back.jpg');
    }

    .swiper-pagination-fraction {
        top: var(--swiper-pagination-top, -100px);
        bottom: unset;
        right: 58px;
        left: unset;
        width: fit-content;

        @include md {
            z-index: -1;
            width: 100%;
            top: unset;
            bottom: 12px;
            left: 0;
            right: 0;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        top: unset;
        bottom: -(36px + 28px);
        right: 0;
        left: 150px;
        margin-left: auto;
        margin-right: auto;

        width: 36px;
        height: 36px;
        background: url('/image/participants_arrow.svg');
        background-size: contain;

        .no-touch &:hover,
        .touch &:active {
            background: url('/image/participants_arrow_hover.svg');
            transition: all .5s;
        }

    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        top: unset;
        bottom: -(36px + 28px);
        right: 0;
        left: -150px;
        margin-left: auto;
        margin-right: auto;

        width: 36px;
        height: 36px;
        transform: rotate(180deg);
        background: url('/image/participants_arrow.svg');
        background-size: contain;
        transition: all .5s;

        .no-touch &:hover,
        .touch &:active {
            background: url('/image/participants_arrow_hover.svg');
            transition: all .5s;
        }
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        display: none;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        z-index: 0;
        bottom: var(--swiper-pagination-bottom, -(57px));
    }

    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
        height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
    }

    .swiper-pagination-bullet-active {
        background: rgba(49, 49, 49, 1);
    }
}

.participants {
    padding-top: 200px;
    padding-bottom: 160px;

    @include md {
        padding-top: 120px;
    }

    @include sm {
        padding-top: 184px;
        padding-bottom: 100px;
    }


    &__title {
        width: 100%;
        max-width: 806px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Merriweather;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;

        @include sm {
            display: block;
            font-size: 36px;
            
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        padding-top: 60px;

        @include sm {
            padding-top: 40px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include md {
            padding-bottom: 76px;
        }
    }

    &__img {}

    &__name {
        padding-top: 28px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: #313131;
    }

    &__rank {
        padding-top: 6px;
        padding-bottom: 20px;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.6;
    }

    &__button {
        border-radius: 62px;
        border: 1px solid #3057A2;

        &:hover {
            background: #3057A2;
        }
    }

    &__button-blue {
        padding: 12px;
        color: #3057A2;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        &:hover {
            color: #FFFFFF;
        }
    }

    &__hiddden {
        overflow: hidden;
    }

    .swiper {
        overflow: unset;
        width: 100%;
    }

    .swiper-pagination-fraction {
        top: var(--swiper-pagination-top, -100px);
        bottom: unset;
        right: 58px;
        left: unset;
        width: fit-content;

        @include md {
            z-index: -1;
            width: 100%;
            top: unset;
            bottom: 12px;
            left: 0;
            right: 0;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        top: var(--swiper-pagination-top, -90px);
        bottom: unset;
        right: 0;
        left: unset;

        width: 44px;
        height: 44px;
        background: url('/image/participants_arrow.svg');

        @include md {
            top: unset;
            bottom: 0;
            left: 28px + 28px + 36px;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        &:hover {
            background: url('/image/participants_arrow_hover.svg');
            transition: all .5s;
        }

    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        top: var(--swiper-pagination-top, -90px);
        bottom: unset;
        right: (44px + 14px + 28px + 14px);
        left: unset;

        width: 44px;
        height: 44px;
        transform: rotate(180deg);
        background: url('/image/participants_arrow.svg');
        transition: all .5s;

        @include md {
            top: unset;
            bottom: 0;
            right: 28px + 28px + 36px;
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }

        &:hover {
            background: url('/image/participants_arrow_hover.svg');
            transition: all .5s;
        }
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        display: none;
    }
}


// Бегущая строка

.slider-container {
    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    background: rgba(245, 73, 50, 1);

    @include sm {
        height: 38px;
    }
}

.slider-content {
    white-space: nowrap;
    position: absolute;
    animation: slide 17s linear infinite;
}

@keyframes slide {
    0% {
        left: -50%;
    }

    100% {
        left: -200%;
    }

    /* Значение здесь равно ширине двух текстовых блоков для непрерывности */
}

.slider-content span {
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: right;


    @include sm {
        font-size: 16px;
    }
}

//

.footer {
    padding-top: 40px;
    padding-bottom: 72px;
    background-color: #E9DED4;


    &__text {
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: #313131;
        opacity: 0.6;
    }
}