@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

/* Контейнер */
/* One */
.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Two */
@media (max-width: 1240px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
/* Three */
@media (max-width: 1024px) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}
/* Four */
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
.header {
  padding-top: 26px;
  padding-bottom: 130px;
  background: url("/image/header__cover.jpg") no-repeat center;
}
@media all and (max-width: 767px) {
  .header {
    background: url("/image/header__cover-sm.png") no-repeat center;
    background-size: cover;
    height: 750px;
  }
}
.header__logo img {
  width: 245px;
  height: 36px;
}
.header__info {
  width: 100%;
  max-width: 542px;
}
@media all and (max-width: 767px) {
  .header__info {
    max-width: unset;
  }
}
.header__title {
  padding-top: 62px;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  color: #313131;
}
@media all and (max-width: 767px) {
  .header__title {
    max-width: 335px;
    padding-top: 40px;
    font-size: 36px;
  }
}
.header .title-position-one {
  padding-left: 91px;
}
@media all and (max-width: 767px) {
  .header .title-position-one {
    padding-left: 62px;
  }
}
.header .title-position-two {
  padding-left: 33px;
}
@media all and (max-width: 767px) {
  .header .title-position-two {
    padding-left: 30px;
  }
}
.header__description {
  padding-top: 24px;
  text-align: center;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #313131;
}
@media all and (max-width: 767px) {
  .header__description {
    text-align: left;
  }
}
.header__buttons-block {
  display: flex;
  gap: 16px;
  padding-top: 40px;
}
@media all and (max-width: 767px) {
  .header__buttons-block {
    display: flex;
    flex-direction: column;
  }
}
.header__button {
  width: 100%;
}
.header__button-black {
  padding: 13px 20px;
  background: #1F1F1F;
  border-radius: 66px;
  border: 2px solid #1F1F1F;
  color: #FFF;
  text-align: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.header__button-black:hover {
  color: #1F1F1F;
  background: #FBCE51;
  border: 2px solid #FBCE51;
}
.header__button-opacity {
  padding: 13px 20px;
  border-radius: 66px;
  border: 2px solid #1F1F1F;
  color: #1F1F1F;
  text-align: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
@media all and (max-width: 1024px) {
  .header__button-opacity {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #FFFFFF;
  }
}
.header__button-opacity:hover {
  background: #1F1F1F;
  border: 2px solid #1F1F1F;
  color: #FFF;
}
@media all and (max-width: 767px) {
  .header__br {
    display: none;
  }
}

.lecture {
  overflow: hidden;
  padding-top: 80px;
}
@media all and (max-width: 767px) {
  .lecture {
    display: none;
  }
}
.lecture__info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.lecture__text {
  width: 100%;
  max-width: 764px;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}
.lecture__img img {
  width: 394px;
  height: 250px;
  flex-shrink: 0;
}

.lecture-mob {
  display: none;
  padding-top: 48px;
}
@media all and (max-width: 767px) {
  .lecture-mob {
    display: block;
  }
}
.lecture-mob__text {
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #313131;
}
.lecture-mob__img {
  padding-top: 24px;
  padding-bottom: 24px;
}

.info-red {
  font-weight: 700;
  color: #F54932;
}

.session {
  padding-top: 64px;
}
@media all and (max-width: 767px) {
  .session {
    display: none;
  }
}
.session__block {
  display: flex;
  gap: 44px;
}
.session__img img {
  width: auto;
  max-width: 454px;
  height: auto;
}
@media all and (max-width: 1024px) {
  .session__img img {
    width: auto;
    max-width: 30vw;
    height: auto;
  }
}
.session__text {
  padding-bottom: 60px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  color: #313131;
}
.session table {
  width: 100%;
  max-width: 704px;
  border-collapse: collapse;
  /* Убираем двойные линии между ячейками */
  border: 2px solid white;
  /* Прячем рамку вокруг таблицы */
}
.session td {
  /* Поля вокруг содержимого таблицы */
  border: 1px solid #D0D0D0;
  /* Параметры рамки */
  text-align: left;
  /* Выравнивание по левому краю */
}
.session__table-grey {
  width: 306px;
  padding: 16px 16px 16px 0;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #313131;
  opacity: 0.7;
}
.session__table-black {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 16px;
}
.session__table-first {
  padding-top: 0;
}
.session__table-last {
  padding-bottom: 0;
}
.session .info-blue {
  padding-top: 48px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #3057A2;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: #F54932;
}

.session-mob {
  display: none;
}
@media all and (max-width: 767px) {
  .session-mob {
    display: block;
  }
}
.session-mob__img {
  width: 100%;
  height: auto;
}
.session-mob__text {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #313131;
}
.session-mob table {
  width: 100%;
  max-width: 336px;
  border-collapse: collapse;
  /* Убираем двойные линии между ячейками */
  border: 3px solid white;
  /* Прячем рамку вокруг таблицы */
}
.session-mob td {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid #D0D0D0;
  /* Параметры рамки */
  text-align: left;
  /* Выравнивание по левому краю */
}
.session-mob__table-grey {
  padding-bottom: 12px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #313131;
  opacity: 0.7;
}
.session-mob__table-black {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #313131;
}
.session-mob__table-first {
  padding-top: 0;
}
.session-mob__table-last {
  padding-bottom: 0;
}

.stages {
  overflow: hidden;
  padding-top: 200px;
}
@media all and (max-width: 767px) {
  .stages {
    display: none;
  }
}
.stages__title {
  width: 100%;
  max-width: 806px;
}
.stages__title-text {
  padding-bottom: 54px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #313131;
}
.stages__description {
  display: inline-block;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #3057A2;
}
.stages__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 36px;
  height: 36px;
  border-radius: 60px;
  background: #FFF;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #313131;
}
.stages__desc {
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #313131;
}
.stages__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  grid-template-areas: "a b c" "d e c" "f g g";
}
@media all and (max-width: 1024px) {
  .stages__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "a b" "c d" "e f" "g g";
  }
}
.stages__item {
  display: flex;
  gap: 16px;
  padding: 20px;
  background: url("/image/stages_back.jpg");
}
.stages__item-1 {
  grid-area: a;
}
.stages__item-2 {
  grid-area: b;
}
.stages__item-3 {
  grid-area: c;
}
.stages__item-4 {
  grid-area: d;
}
.stages__item-5 {
  grid-area: e;
}
.stages__item-6 {
  grid-area: f;
}
.stages__item-7 {
  grid-area: g;
  z-index: 1;
  position: relative;
}
.stages__item-7 p {
  z-index: 3;
  width: 55.5417185554%;
}
.stages__image {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: -70px;
}
@media all and (max-width: 1024px) {
  .stages__image {
    right: -120px;
  }
}
.stages-mob {
  display: none;
}
@media all and (max-width: 767px) {
  .stages-mob {
    display: block;
    padding-top: 120px;
  }
}
.stages-mob h2 {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 36px;
  line-height: 39px;
  color: rgb(49, 49, 49);
}
.stages-mob__subtitle {
  padding-top: 12px;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #3057A2;
}
.stages-mob__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 36px;
  height: 36px;
  border-radius: 60px;
  background: #FFF;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #313131;
}
.stages-mob__text {
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #313131;
}
.stages-mob__card {
  display: flex;
  gap: 16px;
}
.stages-mob__image {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}
.stages-mob__image img {
  max-width: 335px;
}
.stages-mob .swiper {
  overflow: unset;
  width: 100%;
  padding-top: 148px;
}
.stages-mob .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 62px 24px 34px;
  height: auto;
  background: url("/image/stages_back.jpg");
}
.stages-mob .swiper-pagination-fraction {
  top: var(--swiper-pagination-top, -100px);
  bottom: unset;
  right: 58px;
  left: unset;
  width: -moz-fit-content;
  width: fit-content;
}
@media all and (max-width: 1024px) {
  .stages-mob .swiper-pagination-fraction {
    z-index: -1;
    width: 100%;
    top: unset;
    bottom: 12px;
    left: 0;
    right: 0;
  }
}
.stages-mob .swiper-button-next,
.stages-mob .swiper-rtl .swiper-button-prev {
  top: unset;
  bottom: -64px;
  right: 0;
  left: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 36px;
  background: url("/image/participants_arrow.svg");
  background-size: contain;
}
.no-touch .stages-mob .swiper-button-next:hover, .touch .stages-mob .swiper-button-next:active,
.no-touch .stages-mob .swiper-rtl .swiper-button-prev:hover,
.touch .stages-mob .swiper-rtl .swiper-button-prev:active {
  background: url("/image/participants_arrow_hover.svg");
  transition: all 0.5s;
}
.stages-mob .swiper-button-prev,
.stages-mob .swiper-rtl .swiper-button-next {
  top: unset;
  bottom: -64px;
  right: 0;
  left: -150px;
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 36px;
  transform: rotate(180deg);
  background: url("/image/participants_arrow.svg");
  background-size: contain;
  transition: all 0.5s;
}
.no-touch .stages-mob .swiper-button-prev:hover, .touch .stages-mob .swiper-button-prev:active,
.no-touch .stages-mob .swiper-rtl .swiper-button-next:hover,
.touch .stages-mob .swiper-rtl .swiper-button-next:active {
  background: url("/image/participants_arrow_hover.svg");
  transition: all 0.5s;
}
.stages-mob .swiper-button-next:after,
.stages-mob .swiper-rtl .swiper-button-prev:after,
.stages-mob .swiper-button-prev:after,
.stages-mob .swiper-rtl .swiper-button-next:after {
  display: none;
}
.stages-mob .swiper-horizontal > .swiper-pagination-bullets,
.stages-mob .swiper-pagination-bullets.swiper-pagination-horizontal,
.stages-mob .swiper-pagination-custom,
.stages-mob .swiper-pagination-fraction {
  z-index: 0;
  bottom: var(--swiper-pagination-bottom, -57px);
}
.stages-mob .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}
.stages-mob .swiper-pagination-bullet-active {
  background: rgb(49, 49, 49);
}

.participants {
  padding-top: 200px;
  padding-bottom: 160px;
}
@media all and (max-width: 1024px) {
  .participants {
    padding-top: 120px;
  }
}
@media all and (max-width: 767px) {
  .participants {
    padding-top: 184px;
    padding-bottom: 100px;
  }
}
.participants__title {
  width: 100%;
  max-width: 806px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #313131;
}
@media all and (max-width: 767px) {
  .participants__title {
    display: block;
    font-size: 36px;
  }
}
.participants__list {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}
@media all and (max-width: 767px) {
  .participants__list {
    padding-top: 40px;
  }
}
.participants .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 1024px) {
  .participants .list {
    padding-bottom: 76px;
  }
}
.participants__name {
  padding-top: 28px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #313131;
}
.participants__rank {
  padding-top: 6px;
  padding-bottom: 20px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}
.participants__button {
  border-radius: 62px;
  border: 1px solid #3057A2;
}
.participants__button:hover {
  background: #3057A2;
}
.participants__button-blue {
  padding: 12px;
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.participants__button-blue:hover {
  color: #FFFFFF;
}
.participants__hiddden {
  overflow: hidden;
}
.participants .swiper {
  overflow: unset;
  width: 100%;
}
.participants .swiper-pagination-fraction {
  top: var(--swiper-pagination-top, -100px);
  bottom: unset;
  right: 58px;
  left: unset;
  width: -moz-fit-content;
  width: fit-content;
}
@media all and (max-width: 1024px) {
  .participants .swiper-pagination-fraction {
    z-index: -1;
    width: 100%;
    top: unset;
    bottom: 12px;
    left: 0;
    right: 0;
  }
}
.participants .swiper-button-next,
.participants .swiper-rtl .swiper-button-prev {
  top: var(--swiper-pagination-top, -90px);
  bottom: unset;
  right: 0;
  left: unset;
  width: 44px;
  height: 44px;
  background: url("/image/participants_arrow.svg");
}
@media all and (max-width: 1024px) {
  .participants .swiper-button-next,
  .participants .swiper-rtl .swiper-button-prev {
    top: unset;
    bottom: 0;
    left: 92px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.participants .swiper-button-next:hover,
.participants .swiper-rtl .swiper-button-prev:hover {
  background: url("/image/participants_arrow_hover.svg");
  transition: all 0.5s;
}
.participants .swiper-button-prev,
.participants .swiper-rtl .swiper-button-next {
  top: var(--swiper-pagination-top, -90px);
  bottom: unset;
  right: 100px;
  left: unset;
  width: 44px;
  height: 44px;
  transform: rotate(180deg);
  background: url("/image/participants_arrow.svg");
  transition: all 0.5s;
}
@media all and (max-width: 1024px) {
  .participants .swiper-button-prev,
  .participants .swiper-rtl .swiper-button-next {
    top: unset;
    bottom: 0;
    right: 92px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.participants .swiper-button-prev:hover,
.participants .swiper-rtl .swiper-button-next:hover {
  background: url("/image/participants_arrow_hover.svg");
  transition: all 0.5s;
}
.participants .swiper-button-next:after,
.participants .swiper-rtl .swiper-button-prev:after,
.participants .swiper-button-prev:after,
.participants .swiper-rtl .swiper-button-next:after {
  display: none;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
  background: rgb(245, 73, 50);
}
@media all and (max-width: 767px) {
  .slider-container {
    height: 38px;
  }
}

.slider-content {
  white-space: nowrap;
  position: absolute;
  animation: slide 17s linear infinite;
}

@keyframes slide {
  0% {
    left: -50%;
  }
  100% {
    left: -200%;
  }
  /* Значение здесь равно ширине двух текстовых блоков для непрерывности */
}
.slider-content span {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: right;
}
@media all and (max-width: 767px) {
  .slider-content span {
    font-size: 16px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 72px;
  background-color: #E9DED4;
}
.footer__text {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}/*# sourceMappingURL=slyle.css.map */